.jumbotron {
    text-align: center;
    font-size: 70%;
    background-image: url("image/logo.png");
    background-origin: 80%;
}

body {
    background-image: url("image/hd.jpg");
}

h2 {
    color: white;
}

p {
    color: white;
}