.jumbotron {
    text-align: center;
    font-size: 70%;
    background-image: url("images/head.png");
    background-origin: 80%;
}

body {
    background-image: url("images/hd.jpg");
}

h2 {
    color: white;
}

p {
    color: white;
}